<!-- startlearning -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>MyMaterial</span>

    <span class="example-spacer"></span>

    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>
  <div class="example-container">
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="answer"
        placeholder="who's the gonna be the best web developer"
      />
    </mat-form-field>
  </div>

  <div class="example-container">
    <button mat-raised-button (click)="showAnswer()">Answer me</button>
  </div>
</mat-card>

<!-- spinner -->

<mat-spinner
  style="margin: 0 auto;"
  [style.display]="showSpinner ? 'block' : 'none'"
></mat-spinner>

<div class="example-container">
  <mat-card *ngIf="answerDisplay">
    <h3 style="text-align: center;">{{ answerDisplay }}, you're damn right.</h3>
  </mat-card>
</div>
<!-- startlearningend -->
<!-- buttons -->
<div class="example-container">
  <h1 style="color: rgba(24, 94, 223, 0.623);">material buttons</h1>

  <button style="background-color: #123541; color: azure;" mat-button>
    Click me !
  </button>
  <button style="background-color: #1b7553; color: azure;" mat-raised-button>
    Click me ! raised button
  </button>
  <button style="background-color: #5e1658; color: azure;" mat-flat-button>
    Click me ! flat button
  </button>
  <button style="background-color: #743714; color: azure;" mat-stroked-button>
    Click me ! stroked button
  </button>
</div>

<div class="example-container">
  <button mat-flat-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-stroked-button color="warn">Warning</button>
</div>
<!-- <div class="example-container">
  <button mat-mat-icon-button>Icon</button>
  <button mat-fab>Fab</button>
  <button mat-mini-fab>Mini</button>
</div> -->

<!-- buttonToggle -->
<div class="example-container">
  <mat-button-toggle #toggled>Toggle</mat-button-toggle>
  <p style="text-align: center;" *ngIf="toggled.checked">Toggled</p>
  <p style="text-align: center;" *ngIf="!toggled.checked">not Toggled</p>
</div>

<div class="example-container">
  <h2>button toggle group :</h2>
  <mat-button-toggle-group
    class="flexx coloring"
    #toggleGroup1="matButtonToggleGroup"
  >
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  <h4>{{ toggleGroup1.value }}</h4>
  <mat-button-toggle-group
    class="flexx coloring"
    multiple
    #toggleGroup2="matButtonToggleGroup"
  >
    <mat-button-toggle value="angular">Angular</mat-button-toggle>
    <mat-button-toggle value="react">React</mat-button-toggle>
    <mat-button-toggle value="vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  <h4>{{ toggleGroup2.value }}</h4>
</div>
<!-- endButtonToggle -->
<!-- end buttons -->
<!-- icons -->
<div class="example-container">
  <h1 style="color: rgba(24, 94, 223, 0.623);">Material Icons</h1>

  <mat-icon class="spaceDiv" color="primary"> grade grade</mat-icon>
  <mat-icon class="spaceDiv"> alarm alarm alarm alarm alarm </mat-icon
  ><mat-icon class="spaceDiv" color="warn">
    assessment assessment assessment assessment</mat-icon
  ><mat-icon class="spaceDiv" color="accent">
    3d_rotation 3d_rotation 3d_rotation
  </mat-icon>
</div>
<!-- end icons -->
<!-- badges -->
<div class="example-container">
  <h1 style="color: rgba(24, 94, 223, 0.623);">Material Badges</h1>
  <h4 style="color: rgba(24, 94, 223, 0.623);">Material Badges Positions</h4>

  <div class="spaceDiv">
    <span matBadge="5" matBadgePosition="below before">Notifications</span>
  </div>
  <div class="spaceDiv">
    <span matBadge="5" matBadgePosition="below after">Notifications</span>
  </div>
  <div class="spaceDiv">
    <span matBadge="5" matBadgePosition="above before">Notifications</span>
  </div>
  <div class="spaceDiv">
    <span matBadge="5" matBadgePosition="above after">Notifications</span>
  </div>
  <h4 style="color: rgba(24, 94, 223, 0.623);">Material Badges Sizes</h4>
  <div class="spaceDiv">
    <span matBadge="5" matBadgeSize="small">Notifications</span>
  </div>
  <div class="spaceDiv">
    <span matBadge="5" matBadgeSize="medium">Notifications</span>
  </div>
  <div class="spaceDiv">
    <span matBadge="5" matBadgeSize="large">Notifications</span>
  </div>
  <h4 style="color: rgba(24, 94, 223, 0.623);">Material Badges Colors</h4>
  <div class="spaceDiv">
    <span matBadge="5" matBadgeColor="primary">Notifications</span>
  </div>
  <div class="spaceDiv">
    <span [matBadge]="notificationBadgeValue" matBadgeColor="accent"
      >Notifications</span
    >
  </div>
  <div class="spaceDiv">
    <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false"
      >Notifications</span
    >
  </div>
</div>
<!-- end badges -->
<!-- typography -->
<div class="example-container">
  <h1 style="color: rgba(24, 94, 223, 0.623);">Material Typography</h1>
  <div class="mat-display-4">This is display number 4</div>
  <div class="mat-display-3">This is display number 3</div>
  <div class="mat-display-2">This is display number 2</div>
  <div class="mat-display-1">This is display number 1</div>
</div>
<div class="example-container">
  <div class="mat-headline">this is a heading for h1</div>
  <div class="mat-title">this is a heading for h2</div>
  <div class="mat-subheading-2">this is a heading for h3</div>
  <div class="mat-subheading-1">this is a heading for h4</div>
</div>
<div class="example-container">
  <div class="mat-typography">
    <h1>this is a heading for h1</h1>
    <h2>this is a heading for h2</h2>
    <h3>this is a heading for h3</h3>
    <h4>this is a heading for h4</h4>
  </div>
</div>

<div class="example-container">
  <div class="mat-body-1">this is a body text</div>
  <div class="mat-body-2">this is a bold body text</div>
  <div class="mat-caption">this is a caption text</div>
</div>
<!-- endtypography -->
