.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.coloring {
  background-color: rgba(24, 94, 223, 0.623);
  color: whitesmoke;
}

button {
  margin: 1rem 3rem;
  padding: 0.8rem 0.5rem;
}
.flexx {
  width: 80%;
  display: flexbox;
  justify-content: space-around;
}
.spaceDiv {
  margin: 10px 10px;
  padding: 10px 10px;
}
.navbar {
  justify-content: space-between;
}
.navbar span {
  padding-right: 1rem;
}
mat-sidenav-container {
  height: 100vh;
}
mat-sidenav,
mat-sidenav-content {
  padding: 16px;
}
mat-sidenav {
  background-color: lightcoral;
  width: 200px;
}
