<!-- startlearning -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>MyMaterial</span>

    <span class="example-spacer"></span>

    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>
  <div class="example-container">
    <mat-form-field>
      <input
        matInput
        [(ngModel)]="answer"
        placeholder="who's the gonna be the best web developer"
      />
    </mat-form-field>
  </div>

  <div class="example-container">
    <button mat-raised-button (click)="showAnswer()">Answer me</button>
  </div>
</mat-card>

<!-- spinner -->

<mat-spinner
  style="margin: 0 auto;"
  [style.display]="showSpinner ? 'block' : 'none'"
></mat-spinner>

<div class="example-container">
  <mat-card *ngIf="answerDisplay">
    <h3 style="text-align: center;">{{ answerDisplay }}, you're damn right.</h3>
  </mat-card>
</div>
<!-- startlearningend -->

<!-- typography -->
<div class="example-container">
  <h1 style="color: rgba(24, 94, 223, 0.623);">material typography</h1>
  <div class="mat-display-4">This is display number 4</div>
  <div class="mat-display-3">This is display number 3</div>
  <div class="mat-display-2">This is display number 2</div>
  <div class="mat-display-1">This is display number 1</div>
</div>
<div class="example-container">
  <div class="mat-headline">this is a heading for h1</div>
  <div class="mat-title">this is a heading for h2</div>
  <div class="mat-subheading-2">this is a heading for h3</div>
  <div class="mat-subheading-1">this is a heading for h4</div>
</div>
<div class="example-container">
  <div class="mat-typography">
    <h1>this is a heading for h1</h1>
    <h2>this is a heading for h2</h2>
    <h3>this is a heading for h3</h3>
    <h4>this is a heading for h4</h4>
  </div>
</div>

<div class="example-container">
  <div class="mat-body-1">this is a body text</div>
  <div class="mat-body-2">this is a bold body text</div>
  <div class="mat-caption">this is a caption text</div>
</div>
<!-- endtypography -->
